// Definitions of common colours used throughout the interface
$colour-bg: #11121e;
$colour-bg-lighter: #21213a;
$colour-fg: #f1b669;
$colour-green: #41eb8d;
$colour-yellow: #e9eb5a;
$colour-red: #f54444;