// Font family: Overpass (Mono)
@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono&family=Overpass:ital,wght@0,400;0,700;1,400&display=swap');

$font-family-variable: 'Overpass', sans-serif;
$font-family-fixed: 'Overpass Mono', monospace;

%font-normal {
    font-family: $font-family-variable;
    font-weight: 400;
}

%font-bold {
    font-family: $font-family-variable;
    font-weight: 700;
}

%font-italic {
    font-family: $font-family-variable;
    font-style: italic;
}

%font-mono {
    font-family: $font-family-fixed;
    font-weight: 400;
}